.wcstat0{
color:#999999;
}
.wcstat1{
color:#77CD3A;
}
.wcstat2{
color:red;
}
.wcstat3{
color:#000000;
}
.wc0{
	font-size:10px;
}
.wc1{
font-size:10px;
}
.wc2{
font-size:12px;
}
.wc3{
font-size:14px;
}
.wc4{
font-size:16px;
}
.wc5{
font-size:18px;
}
.wc6{
font-size:20px;
}
.wc7{
font-size:22px;
}
.wc8{
font-size:24px;
}
.wc9{
font-size:26px;
}
.wc10{
font-size:28px;
}