Request Sent!
Your request has been received and has been sent for processing. 
Your account confirmation with a user ID and password for trial will be sent to you shortly. 
In the mean time, feel free to contact us at support@smacapp.com

Again, thank you for your interest in SMAC.

Regards,
SMAC Team
http://www.smac.me
-------------------------------------------------------------------
Smac is a complete social media monitoring solution for brands and agencies. 
smac helps you to integrate, archive, analyze and generate consumer insights from online conversation. 
smac will monitor your pr campaigns, your reputation and also your competition.
We track any keywords, phrases, hash-tags, or links across social media, blogs and forums.

Disclaimer:
You are solely responsible in all respects for all use and for protecting 
the confidentiality of any email verification number and password which 
may be given to you. 
You may not share these with or transfer them to any third parties. 
You must notify us immediately of any unauthorized use of them.
