<div id="main-container">
    	{$sidebar}
        <div id="container">
    		{$menu}
            <div class="title-bar">
            	<h1><a id="menuAtas" href="#" no="5">Auto Responders</a></h1>
            </div>
            <div id="autoresponders">
            	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="the-content">
                  <tr>
                    <td align="left" valign="top">
                    	<div class="your-keyword box">                        	
                            <div class="headbox">
                                <span>Your Keyword</span>
                           	 	<a href="#" class="helpsmall tip_trigger">&nbsp;<span class="tip">Help</span></a>
                            </div>                            
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="zebra">
                              <tr>
                                <td>Soulnation</td>
                              </tr>
                              <tr>
                                <td>Senayan</td>
                              </tr>
                              <tr>
                                <td>Depapepe</td>
                              </tr>
                              <tr>
                                <td>Jakarta</td>
                              </tr>
                              <tr>
                                <td>#JSF</td>
                              </tr>
                            </table>
                        </div>
                    </td>
                    <td align="left" valign="top">
                    	<div class="table table-responds">
                         <img src="content/table5.jpg" />
                        </div>
                        <form class="send-form">
                       		<input type="text" />
                            <input type="submit" value="SEND" />
                        </form>
                    </td>
                  </tr>
                  <tr>
                    <td align="left" valign="top">
                    	<div class="table table-entities">
                         <img src="content/table4.jpg" />
                        </div>
                    </td>
                    <td align="left" valign="top">
                    	<div class="recent-tweet">
                         <img src="content/box1.jpg" />
                        </div>
                    </td>
                  </tr>
                </table>
            </div><!-- #autoresponders -->
        </div><!-- #container -->
    </div><!-- #main-container -->