	<div id="main-container">
    	{$sidebar}
        <div id="container">
            <div class="title-bar padR15">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
            	<tr>
                	<td align="left">
            			<h1>
                        	<a href="javascript:void(0);">My Topics</a>
                        </h1>
                    </td>
                </tr>
            </table>
            </div> 
        	<div id="first-topic">
            	<div class="content">
            	<h1>You've created your first topic!</h1>
                <h1>We are now generating your first report<br />which should be ready in 24 hours </h1>
                </div>
                <a class="green-btn2" href="{$linklivetrack}">While you are waiting, watch your data flow in real-time on our LIVE TRACK page!</a>
            </div>
        </div><!-- #container -->
    </div><!-- #main-container -->
