<div id="popup-workflow-folder" class="popup_block popupWidth popup-unmark">
	<div id="section1">
	<div class="headpopup">
    	<h1 class="fleft">Unmarked tweets for keyword: <span class="fgreen" id="wf_keyword"></span></h1>
    </div>    
    <div class="content-popup"> 
      <div class="list">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>
                <div class="tweetcontent">
                    <div class="smallthumb">
                        <a href="#?w=650&id={$tw[i].author_id}" class="poplight" rel="profile"><img src="http://a2.twimg.com/profile_images/789978708/01_metro_blackberry_01_normal.jpg" /></a>
                    </div>
                    <div class="entry">
                        <h3>Metro_TV</h3>
                        <span>Goodluck kakak! RT @ninokayam: RT @Rayi_Putra: @ranforyourlife di soulnation fest, istora senayan jam 17.30. Don't miss it! See y'all!</span>
                    </div><!-- .entry -->
                    <div class="entry-action">
                        <a href="#" {if $tw[i].device eq 'blackberry'}class="active"{/if}><span class="blackberry" >&nbsp;</span></a>
                        <a href="#" {if $tw[i].device eq 'apple'}class="active"{/if}><span class="apple" >&nbsp;</span></a>
                        <a href="#" {if $tw[i].device eq 'android'}class="active"{/if}><span class="android" >&nbsp;</span></a>
                        <a class="icon-rts tip_trigger" style="margin-left: 15px;"> 22</a>
                        <a class="icon-imp tip_trigger"> 3123 </a>
                        <a class="icon-share tip_trigger">11%</a>
                    </div><!-- .entry-action -->
                </div> <!-- .tweetcontent -->  
            </td>
            <td>
                <div class="grey-box btn_workflow_folder">
                    <a href="#section2" class="icon_workflow">&nbsp;</a>
                </div>
            </td>
          </tr>
        </table>
        </div><!-- .list -->
      <div class="list">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>
                <div class="tweetcontent">
                    <div class="smallthumb">
                        <a href="#?w=650&id={$tw[i].author_id}" class="poplight" rel="profile"><img src="http://a2.twimg.com/profile_images/789978708/01_metro_blackberry_01_normal.jpg" /></a>
                    </div>
                    <div class="entry">
                        <h3>Metro_TV</h3>
                        <span>Goodluck kakak! RT @ninokayam: RT @Rayi_Putra: @ranforyourlife di soulnation fest, istora senayan jam 17.30. Don't miss it! See y'all!</span>
                    </div><!-- .entry -->
                    <div class="entry-action">
                        <a href="#" {if $tw[i].device eq 'blackberry'}class="active"{/if}><span class="blackberry" >&nbsp;</span></a>
                        <a href="#" {if $tw[i].device eq 'apple'}class="active"{/if}><span class="apple" >&nbsp;</span></a>
                        <a href="#" {if $tw[i].device eq 'android'}class="active"{/if}><span class="android" >&nbsp;</span></a>
                        <a class="icon-rts tip_trigger" style="margin-left: 15px;"> 22</a>
                        <a class="icon-imp tip_trigger"> 3123 </a>
                        <a class="icon-share tip_trigger">11%</a>
                    </div><!-- .entry-action -->
                </div> <!-- .tweetcontent -->  
            </td>
            <td>
                <div class="grey-box btn_workflow_folder">
                    <a href="#section2" class="icon_workflow">&nbsp;</a>
                </div>
            </td>
          </tr>
        </table>
        </div><!-- .list -->
      <div class="list">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>
                <div class="tweetcontent">
                    <div class="smallthumb">
                        <a href="#?w=650&id={$tw[i].author_id}" class="poplight" rel="profile"><img src="http://a2.twimg.com/profile_images/789978708/01_metro_blackberry_01_normal.jpg" /></a>
                    </div>
                    <div class="entry">
                        <h3>Metro_TV</h3>
                        <span>Goodluck kakak! RT @ninokayam: RT @Rayi_Putra: @ranforyourlife di soulnation fest, istora senayan jam 17.30. Don't miss it! See y'all!</span>
                    </div><!-- .entry -->
                    <div class="entry-action">
                        <a href="#" {if $tw[i].device eq 'blackberry'}class="active"{/if}><span class="blackberry" >&nbsp;</span></a>
                        <a href="#" {if $tw[i].device eq 'apple'}class="active"{/if}><span class="apple" >&nbsp;</span></a>
                        <a href="#" {if $tw[i].device eq 'android'}class="active"{/if}><span class="android" >&nbsp;</span></a>
                        <a class="icon-rts tip_trigger" style="margin-left: 15px;"> 22</a>
                        <a class="icon-imp tip_trigger"> 3123 </a>
                        <a class="icon-share tip_trigger">11%</a>
                    </div><!-- .entry-action -->
                </div> <!-- .tweetcontent -->  
            </td>
            <td>
                <div class="grey-box btn_workflow_folder">
                    <a href="#section2" class="icon_workflow">&nbsp;</a>
                </div>
            </td>
          </tr>
        </table>
        </div><!-- .list -->
      <div class="list">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>
                <div class="tweetcontent">
                    <div class="smallthumb">
                        <a href="#?w=650&id={$tw[i].author_id}" class="poplight" rel="profile"><img src="http://a2.twimg.com/profile_images/789978708/01_metro_blackberry_01_normal.jpg" /></a>
                    </div>
                    <div class="entry">
                        <h3>Metro_TV</h3>
                        <span>Goodluck kakak! RT @ninokayam: RT @Rayi_Putra: @ranforyourlife di soulnation fest, istora senayan jam 17.30. Don't miss it! See y'all!</span>
                    </div><!-- .entry -->
                    <div class="entry-action">
                        <a href="#" {if $tw[i].device eq 'blackberry'}class="active"{/if}><span class="blackberry" >&nbsp;</span></a>
                        <a href="#" {if $tw[i].device eq 'apple'}class="active"{/if}><span class="apple" >&nbsp;</span></a>
                        <a href="#" {if $tw[i].device eq 'android'}class="active"{/if}><span class="android" >&nbsp;</span></a>
                        <a class="icon-rts tip_trigger" style="margin-left: 15px;"> 22</a>
                        <a class="icon-imp tip_trigger"> 3123 </a>
                        <a class="icon-share tip_trigger">11%</a>
                    </div><!-- .entry-action -->
                </div> <!-- .tweetcontent -->  
            </td>
            <td>
                <div class="grey-box btn_workflow_folder">
                    <a href="#section2" class="icon_workflow">&nbsp;</a>
                </div>
            </td>
          </tr>
        </table>
        </div><!-- .list -->
        <div class="paging">
            <a class="prev" href="#">PREV</a>
            <a class="next" href="#">NEXT</a>
        </div><!-- .paging -->
    </div><!-- .content-popup -->
   	</div><!-- #section1 -->
	<div id="section2" style="display:none">
        <div class="headpopup">
        	<div class="content-left">
                <h1>Choose Folder:</h1>
                <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            </div><!-- .content-left -->
        	<div class="content-right">
                <a class="backbtn" href="#section1" title="Back">&nbsp;</a>
                <a class="newfolder" href="#" title="New Folder">&nbsp;</a>
            </div><!-- .content-left -->
        </div>
        <div class="content-popup">
                <div class="list">
                    <a class="grey-box folders" href="#">Marked</a>
                </div>
                <div class="list">
                    <a class="grey-box folders" href="#">Marked For Reply</a>
                </div>
                <div class="list">
                    <a class="grey-box folders" href="#">Exclusions</a>
                </div>
                <div class="list">
                    <a class="grey-box folders" href="#">Analize</a>
                </div>
                <div class="paging">
                    <a class="prev" href="javascript:wf_prev();">PREV</a>
                    <a class="next" href="javascript:wf_next();">NEXT</a>
                </div><!-- .paging -->
        </div><!-- .content-popup -->
   	</div><!-- #section2 -->
</div><!-- #popup-sentiment -->
{literal}
<script type="text/javascript" >
    jQuery(document).ready(function(){
        jQuery(".btn_workflow_folder a").click(function(){
            var targetID = jQuery(this).attr('href');
            
            jQuery("#section1").hide();
            jQuery(targetID).fadeIn();
            
            return false;
        });
        jQuery("a.backbtn").click(function(){
            var targetID = jQuery(this).attr('href');
            
            jQuery("#section2").hide();
            jQuery(targetID).fadeIn();
            
            return false;
        });
    });
</script>
{/literal}