<div id="finishTopic" class="popupfinishTopic">
    <div class="popupContainer">
        <div class="headPopup">
            <img src="images/topic_registered.png" />
        </div>
        <div class="entryPopup">
            <h3>What do I do next?</h3>
            <p>Before your topic is activated you will have complete payment by clicking the "Complete Payment" button below. After we confirm your payment, your topic will immediately start collecting data.</p>
            
            <h3>When can I see my first report?</h3>
            <p>Reports will be generated as your data comes in. Although reports vary depending on the rules you create, in most cases statistics and analysis are visible within a hour after paying for topic</p>
            
            <p>If you have any problems regarding your account, send us an email at mailto:support@smac.me or contact your designated account guardian. </p>
            
            <h1>Enjoy SMAC!</h1>
        </div>
    </div>
    <div class="footPopup">
        <a class="btn_completePayment" href="{encrypt url='index.php?page=account&act=credit_usage'}">&nbsp;</a>
    </div>
</div>
<div id="bgPopup"></div>