
<div id="popupmap" class="popup_block popupWidth ui-draggable" style="left: 33%;width: 620px;">
	<div class="headpopup">
    	<h1 class="fleft" id="popupmsgcaption"></h1>
    </div>
    <div class="content-popup" id="popupmsgbody">
   	 	
	</div>
	<div id="mapPage" class="paging"></div>
	{*}
	<div id="popupmsgbtns">
		<span id="popupmsgcbtn2" style="display:block;"><a href="#" class="tplbtn" id="popupmsgbtn2" onclick="$('#popupmap').hide();return false;" style="display:block;">Close</a></span>
	</div>
    {/*}
</div>