<div id="register" style="width:1020px;">
    <a href="index.php" class="logobig" style="margin:30px auto;">&nbsp;</a>
    <div class="register-content" style="width:960px; position:relative; text-transform:none; font-size:14px;">
    	<h1 style="font-size:30px;">Privacy Policy</h1>
<p>SMAC. is committed to protecting your privacy. Customer information is considered confidential and will not be shared or distributed to any third party. SMAC. will not use your email address for bulk mailings. SMAC. will not pass your email address to third parties.</p>
<h3>Security Information</h3>
<p>"All of your personal information, including credit card number, name and address, will be encrypted so that it cannot be read as the information travels over the Internet. Credit card information is protected by SSL (Secure Socket Layer)</p>
<p>All of the data entered on any page during the order process is encrypted using the SSL (Secure Socket Layer) protocol and transmitted to the recipient via a secure connection. The data can only be read by the recipient. This way, important information such as credit card numbers, addresses, etc. can be transmitted to the recipient securely via the Internet. In Netscape, you can tell that SSL is activated if you see a closed padlock in the lower left corner of the browser window. In Internet Explorer, the padlock icon is located at the lower right in the status bar of the browser window. 
</p>

<h3>Non-Personally Identifiable Information</h3>
<p>Our website utilizes technologies to compile aggregated statistics about the effectiveness of our site, common navigation paths within the site, types of browsers and platforms that access the site and the average connection speeds used to connect to the site. This aggregated information is used to develop enhancements to the online experience of our users. These technologies do not collect or use personally identifiable information, such as names or address, and do not associate any online actions with an identifiable person.</p>

<h3>Cookies</h3>
<p>We may set and access cookies on your computer. A cookie is a small amount of data that is sent to your browser from a Web server and stored on your computer's hard drive. We use cookies in a limited way to track usage on our site. We gather information about site use by our visitors through cookie technology on an anonymous basis and analyze it at an aggregate level only. This enables us to continually improve our website to meet the needs of our users.</p>
<p>In addition, we may use temporary session cookies to track your progress through our order processing system, keeping track of information such as the contents of your shopping cart and address. These session cookies only exist for the duration of your browser session.
</p>
<h3>Changes to this Privacy Statement</h3>
<p>Without prejudice to your rights under applicable data protection or privacy law, Exare may amend this Privacy Statement from time-to-time. We will notify you of such amendments or changes by updating the "Last Updated" Date at the bottom of this Privacy Statement.</p>

    </div><!-- .login-content -->
</div><!-- #login -->
