{if $list}
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="zebra">
   <tr class="head">
     <td>Date</td>
     <td>Report Name</td>
     <td>Status</td>
     <td align="center">Download Link</td>
   </tr>
   {section name=i loop=$list}
   <tr>
     <td>{$list[i].submit_date}</td>
     <td>{$list[i].label|stripslashes|strip_tags}</td>
     <td>{if $list[i].n_status eq '2'}Available{else}Generating {$list[i].progress} of {$list[i].task_count}{/if}</td>
     {if $list[i].isAvailable}
     	<td width="145"><a class="iconPdf" href="{$list[i].file}" target="_blank">&nbsp;</a></td>
     {else}
     <td><div style="text-align:center"><img src='images/loader.gif'/></div></td>
     {/if}
   </tr>
   {/section}
 </table>

 <script type="text/javascript">
 {literal}
	$(document).ready(function() {
		$("table.zebra tr:odd").addClass("ganjil");
		$("table.zebra tr:even").addClass("genap");
		$("table.zebra th").parent().addClass("tbheading");
		$(".reportlistfoot").fadeIn();
	});
{/literal}
</script>

 {/if}
