{$menu}

<div id="wrapper-head2">
	<div id="head2" style="border-top: 1px solid #DCDCDC;">
    	<table cellpadding="0" cellspacing="0" border="0" width="100%" style="margin-bottom:10px">
        	<tr>
            	<td width="100%">
                	<div class="round15 bgOrange bubble5">
            			<div class="cWhite">
                			<p class="font12">Potential Impact Score</p>
                   			<h1 class="bold margin0T textcenter">
                            	2M 
                                <a class="btn-upgrade" style="display:inline-block" href="#"></a>
                            </h1>
                		</div>
                
            		</div>
            	</td>
           	</tr>
        </table>
        <table id="tb-list" cellpadding="0" cellspacing="0" width="100%" class="font10 cBlack bgGrey">
        	<tr class="bold grey">
            	<td width="33%">Keyword</td>
                <td width="33%">Category</td>
                <td width="33%">Weightape</td>
            </tr>
        </table>
    </div>
</div>
<div id="wrapper-body">
	<div id="content" style="width:1000px; margin: 269px auto 0; border-bottom:1px solid #ABABAC; border-left:none; border-right:none; min-height:0;">
        <table id="tb-list2" cellpadding="0" cellspacing="0" width="100%" class="font10 cBlack bgGrey" sty>
            <tr class="grey2">
            	<td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
            </tr>
            <tr class="white">
            	<td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
            </tr>
            <tr class="grey2">
            	<td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
            </tr>
            <tr class="white">
            	<td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
            </tr>          
            <tr class="grey2">
            	<td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
            </tr>
            <tr class="white">
            	<td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
            </tr>          
            <tr class="grey2">
            	<td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
            </tr>
            <tr class="white">
            	<td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
            </tr>          
            <tr class="grey2">
            	<td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
            </tr>
            <tr class="white">
            	<td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
            </tr>          
            <tr class="grey2">
            	<td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
            </tr>
            <tr class="white">
            	<td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
            </tr>                     
        </table>
    </div>
</div>