{$menu}

<div id="wrapper-body">
	<div id="content" style="padding:15px; width:968px;">
    	<table cellpadding="0" cellspacing="0" border="0" width="100%" style="margin-bottom:20px">
        	<tr>
            	<td width="50%">
                	<span class="cOrange">soulnation</span>
            	</td>
                <td width="50%" align="right">
                	<span class="cOrange pad10R">Last Update: 09:52:57</span> <span class="cOrange pad10R">Total: 970</span><span class="cOrange">TPM: 0</span>
                </td>
           	</tr>
            <tr>
            	<td colspan="2">
                	<img src="images/sample/page1-map.jpg" width="968" />
                </td>
            </tr>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" width="100%" style="margin-bottom:20px">
        	<tr>
            	<td width="15%">
                	<div class="circle bgBlue1 circle-size cWhite textcenter">
                    	<h1 class="margin0B">21K</h1>
                        <span class="font10">People Talking</span>                        
                    </div>
                </td>
            	<td width="15%">
                	<div class="circle bgOrange circle-size cWhite textcenter">
                    	<h1 class="margin0B">37K</h1>
                        <span class="font10">Total Mentions</span>   
                    </div>
                </td>
                <td width="15%">
                	<div class="circle bgBlue2 circle-size cWhite textcenter">
                    	<h1 class="margin0B">195M</h1>
                        <span class="font10">Potential Reach</span>  
                    </div>
                </td>
                <td valign="top" width="45%">
                	<h6 class="margin0">Top Keyword</h6>
                    <div style="clear:both"></div>
                    <hr class="bdGrey" />
                    <div>
                    	<!-- Keywords -->
                    </div>
                </td>
            </tr>
        </table> 
        <table id="tb-list" cellpadding="0" cellspacing="0" width="100%" class="font10 cBlack bgGrey" style="margin-bottom:20px;">
        	<tr class="bold grey">
            	<td width="25%">Nama</td>
                <td width="25%">Keyword</td>
                <td width="25%">Teks</td>
                <td width="25%">Tanggal</td>
            </tr>
            <tr class="white">
            	<td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
            </tr>
            <tr class="grey2">
            	<td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
            </tr>
            <tr class="white">
            	<td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
            </tr>
            <tr class="grey2">
            	<td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
            </tr>
            <tr class="white">
            	<td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
            </tr>
            <tr class="grey2">
            	<td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
            </tr>
            <tr class="white">
            	<td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
            </tr>
            <tr class="grey2">
            	<td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
            </tr>
            <tr class="white">
            	<td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
            </tr>
            <tr class="grey2">
            	<td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
            </tr>
            <tr class="white">
            	<td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
            </tr>
            <tr class="grey2">
            	<td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
            </tr>
            
        </table>
    </div>
</div>