{$menu}

<div id="wrapper-body">
	<div id="content" class="relative">
    	<div class="bubble2 bgDark absolute round15 cWhite" style="left: 15px;top: 60px;">
        	<h1>Top 10</h1>
            <p>Influencers</p>
            <p class="font10">This is your top influencers based on how many people responded their mention and  passed it on to their network.</p>
            <p><a class="font10 cWhite" href="#">See Details</a></p>
    		<div class="relative">
            	<img class="absolute" style="top:0; left:50px;" src="images/arrow-dark.png" width="39" />
            </div>
        </div>
    	<div style="margin: 0 0 0 184px; padding:25px 0 0 0; width:803px; height:291px;">
    		<img src="images/sample/page4-chart.jpg" width="803" height="291" />          
        </div>
        <div style="margin: 0 0 10px 184px;  padding: 10px 0 0; width:803px;">
        	<div class="textcenter inlineBlock width76">
            	<img src="images/avatar-sample.jpg" width="43" />
                <p class="font12 bold">cendekiapp</p>
            </div>
            <div class="textcenter inlineBlock width76">
            	<img src="images/avatar-sample.jpg" width="43" />
                <p class="font12 bold">cendekiapp</p>
            </div>
            <div class="textcenter inlineBlock width76">
            	<img src="images/avatar-sample.jpg" width="43" />
                <p class="font12 bold">cendekiapp</p>
            </div>
            <div class="textcenter inlineBlock width76">
            	<img src="images/avatar-sample.jpg" width="43" />
                <p class="font12 bold">cendekiapp</p>
            </div>
            <div class="textcenter inlineBlock width76">
            	<img src="images/avatar-sample.jpg" width="43" />
                <p class="font12 bold">cendekiapp</p>
            </div>
            <div class="textcenter inlineBlock width76">
            	<img src="images/avatar-sample.jpg" width="43" />
                <p class="font12 bold">cendekiapp</p>
            </div>
            <div class="textcenter inlineBlock width76">
            	<img src="images/avatar-sample.jpg" width="43" />
                <p class="font12 bold">cendekiapp</p>
            </div>
            <div class="textcenter inlineBlock width76">
            	<img src="images/avatar-sample.jpg" width="43" />
                <p class="font12 bold">cendekiapp</p>
            </div>
            <div class="textcenter inlineBlock width76">
            	<img src="images/avatar-sample.jpg" width="43" />
                <p class="font12 bold">cendekiapp</p>
            </div>
            <div class="textcenter inlineBlock width76">
            	<img src="images/avatar-sample.jpg" width="43" />
                <p class="font12 bold">cendekiapp</p>
            </div>
        </div>
        <div class="round15 bgOrange bubble3 cWhite relative">
        	<p class="font12">with total:</p>
            <h1 class="bold font60 margin0">36505</h1>
            <div class="absolute" style="top:0; right:0px; padding:10px;">
            	 <a class="btn-question fRight" href="#"></a>
                 <a class="btn-upgrade fRight" href="#"></a>
            </div>
            <img src="images/group_people.png" width="90" class="absolute" style="bottom: -33px;left: 1px;" />
            <div class="bgGrey absolute" style="bottom: -40px;left: 100px;padding: 10px 5px 5px;">
            	<h3 class="margin0 cGrey">Campaign Tweets</h3>
            </div>
            <img src="images/arrow-grey.png" width="235" style="bottom: -72px;left: 65px;" class="absolute" />
            <img src="images/arrow-orange2.png" width="40" style="bottom: -23px;right: 21px;" class="absolute" />
        </div>
        <div class="relative">
        	<div class="round15 bgGrey bubble4 cWhite absolute" style="left: 360px;top: -260px;">
            	<p class="font12 cBlack fLeft" style="width:580px;">Key Opinion Leaders goes to:</p>
                <div class="fLeft" style="width:48%">
                	<div class="bgGreen font12 textcenter" style="padding:5px; margin: 0 0 10px;">Ambassador</div>
                    <div class="inlineBlock" style="width:32%">
            			<img src="images/avatar-sample-big.png" width="80" />
                		<p class="font12 margin0B bold cBlack">cendekiapp</p>
                        <p class="font12 margin0 cBlack">+21K</p>
            		</div>
                    <div class="inlineBlock" style="width:32%">
            			<img src="images/avatar-sample-big.png" width="80" />
                		<p class="font12 margin0B bold cBlack">cendekiapp</p>
                        <p class="font12 margin0 cBlack">+21K</p>
            		</div>
                    <div class="inlineBlock" style="width:32%">
            			<img src="images/avatar-sample-big.png" width="80" />
                		<p class="font12 margin0B bold cBlack">cendekiapp</p>
                        <p class="font12 margin0 cBlack">+21K</p>
            		</div>
                </div>
                <div class="fRight" style="width:48%">
                	<div class="bgRed font12 textcenter" style="padding:5px; margin: 0 0 10px;">Troll</div>
                    <div class="inlineBlock" style="width:32%">
            			<img src="images/avatar-sample-big.png" width="80" />
                		<p class="font12 margin0B bold cBlack">cendekiapp</p>
                        <p class="font12 margin0 cBlack">+21K</p>
            		</div>
                    <div class="inlineBlock" style="width:32%">
            			<img src="images/avatar-sample-big.png" width="80" />
                		<p class="font12 margin0B bold cBlack">cendekiapp</p>
                        <p class="font12 margin0 cBlack">+21K</p>
            		</div>
                    <div class="inlineBlock" style="width:32%">
            			<img src="images/avatar-sample-big.png" width="80" />
                		<p class="font12 margin0B bold cBlack">cendekiapp</p>
                        <p class="font12 margin0 cBlack">+21K</p>
            		</div>
                </div>
                <div class="relative">
                	<div class="absolute bgGrey" style=" height: 25px;right: 40px;top: 202px;width: 100px;"></div>
                    <img src="images/arrow-grey.png" width="130" style="right: 26px;top: 227px;" class="absolute" />
                </div>
            <div>
           	<div class="absolute" style="top:0; right:0px; padding:10px;">
            	 <a class="btn-question fRight" href="#"></a>
                 <a class="btn-upgrade fRight" href="#"></a>
            </div>
       </div>  
    </div>
</div>