var popupUrlMentions = "{encrypt url='index.php?page=profile&act=chartmentions&ajax=1&type=mentions'}";
var popupUrlImpressions = "{encrypt url='index.php?page=profile&act=chartmentions&ajax=1&type=impressions'}";
var popupUrlRt = "{encrypt url='index.php?page=profile&act=chartrt&ajax=1'}";
var popupUrlChartSentimentOvertime = "{encrypt url='index.php?page=profile&act=chart_sentiment_overtime&ajax=1&type=sentiment'}";
var popupUrlChartMentionOvertime = "{encrypt url='index.php?page=profile&act=chart_sentiment_overtime&ajax=1&type=mention'}";
var popupProfileUrl = "{encrypt url='index.php?page=profile&act=popup'}";
var editSentimentUrl = "{encrypt url='index.php?page=sentiment&act=getsave&ajax=1'}";
var relatedKeywordUrl = "{encrypt url='index.php?page=campaign&act=getrelatedkeywords&ajax=1'}";
var popupProfileTweetUrl = "{encrypt url='index.php?page=profile&act=getprofiletweets&ajax=1'}";
var popupWorkflowTweets = "{encrypt url='index.php?page=workflow&act=getTweets&ajax=1'}";
var popupProfileWCUrl = "{encrypt url='index.php?page=profile&act=get_wordcloud&ajax=1'}";
var wfApplyExc = "{encrypt url='index.php?page=workflow&act=apply_exclude&ajax=1'}";
var wfApplyExcAll = "{encrypt url='index.php?page=workflow&act=apply_exclude_all&ajax=1'}";
var wfApplyUndo = "{encrypt url='index.php?page=workflow&act=apply_undo&ajax=1'}";
var wfFoldersURL = "{encrypt url='index.php?page=workflow&act=get_folders&ajax=1'}";
var notifyURL = "{encrypt url='index.php?page=monitor&act=info&ajax=1'}";
var curr_wc = "";
var exc_status_url = "{encrypt url='index.php?page=monitor&act=exc_status&ajax=1'}";
var pdf = "{encrypt url='index.php?page=topsummary&act=download_pdf&ajax=1'}";
var reports = "{encrypt url='index.php?page=topsummary&act=report_list&ajax=1'}";