<div id="main-container">
    	{$sidebar}
        <div id="container">
        	<div id="finishTopic" class="popupfinishTopic">
        	<div class="popupContainer">
		        <div class="headPopup">
		            <img src="images/payment_complete.png" />
		        </div>
		        <div class="entryPopup">
		            <h3>Thank You for your payment, This is your Paypal Receipt No : {$transaction_id}</h3>
		            <p>Your topic will automatically started in a few minutes.</p>
		            
		            <h3>When can I see my first report?</h3>
		            <p>Reports will be generated as your data comes in. Although reports vary depending on the rules you create, in most cases statistics and analysis are visible within a hour after paying for topic</p>
		            
		            <p>If you have any problems regarding your account, send us an email at mailto:support@smac.me or contact your designated account guardian. </p>
		            
		            <h1>Enjoy SMAC!</h1>
		        </div>
		    </div>
		    <div class="footPopup">
		        <a class="btn_gotoDashboard" href="{encrypt url='index.php?page=overview'}">&nbsp;</a>
		    </div>        
    </div>
    </div><!-- #container -->
</div><!-- #main-container -->
