.txfield-label {
	font-family: Verdana;
	font-size: 9px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	line-height: 14px;
	height: 18px;
}

.txfield-short {
	font-family: Verdana;
	font-size: 9px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	background-color: #FFFFFF;
	height: 16px;
	width: 40px;
	border: 1px solid #999999;
	padding-left: 2px;
	line-height: 14px;
}

.txtfield {
	font-family: Verdana;
	font-size: 9px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	background-color: #FFFFFF;
	height: 16px;
	width: 100%;
	border: 1px solid #999999;
	padding-left: 2px;
	line-height: 14px;
}