<div id="main-container">
    	{$sidebar}
        <div id="container">
			<div class="round10 bgGrey" align="center" style="margin:100px auto 0; width: 400px; padding: 50px;">
			    <div align="center" class="suksesMessage">
			     <h3>
			          <strong>{$msg|stripslashes}</strong>
			      </h3>	
			     
			    </div>
			    <div style="margin-left:88px;">
				<span><a class="tplbtn" href="{$onyes.url}">{$onyes.label}</a></span>
				<span>
				<a class="tplbtn" href="{$onno.url}">{$onno.label}</a>
				</span>
				</div>
			</div>
		</div>
</div>