<h2>DASHBOARD CONFIGURATION</h2>
<hr /> 
<p>{$msg}</p>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="list zebra">
  <tr class="head">
    <td><strong>Dashboard Name</strong></td>
    <td><strong>ClassPath</strong></td>
    <td><strong>Slot</strong></td>
    <td><strong>Status</strong></td>
    <td><strong>Action</strong></td>
  </tr>
  {section name=i loop=$list}
  <tr>
    <td>{$list[i].name}</td>
    <td>{$list[i].class}</td>
    <td>{$list[i].slot}</td>
    <td>{if $list[i].status eq '1'} ACTIVE {else} DISABLED{/if}</td>
    <td><a href="?s=admin&r=dashboard&do=edit&id={$list[i].id}">Edit</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="?s=admin&r=dashboard&do=delete&id={$list[i].id}">Delete</a></td>
  </tr>
  {/section}
</table>
<h2>Add Module</h2>
<hr /> 
<form name="form1" method="post" action="">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="addlist zebra">
    <tr>
      <td width="9%">Name</td>
      <td width="91%"><input type="text" name="name" id="name"></td>
    </tr>
    <tr>
      <td>ClassPath</td>
      <td><input name="class" type="text" id="class" size="50" maxlength="255"> 
        example : com.ModuleName.ModuleClass</td>
    </tr>
    <tr>
      <td>Invoker</td>
      <td><input name="invoker" type="text" id="invoker" value="Dashboard" size="50" maxlength="255"> </td>
    </tr>
    <tr>
      <td valign="top">Slot</td>
      <td><select name="slot" id="slot">
        <option value="1">1</option>
        <option value="2">2</option>
      </select> 
        <br>
        1 = main panel<br>
        2= sidebar</td>
    </tr>
    <tr>
      <td>Status</td>
      <td><select name="status" id="status">
        <option value="1" selected>Active</option>
        <option value="0">Disabled</option>
      </select></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="Save">
      <input name="s" type="hidden" id="s" value="admin">
      <input name="r" type="hidden" id="r" value="dashboard">
      <input name="do" type="hidden" id="r" value="save"></td>
    </tr>
  </table>
</form>
