<h2>ADMINISTRATIVE ACCOUNTS</h2>
<hr /> 
<form id="form1" name="form1" method="post" action="">
  <table width="43%" border="0" cellpadding="0" cellspacing="0" class="addlist zebra">
    <tr>
      <td class="head"><strong>Edit Account</strong></td>
    </tr>
    <tr>
      <td><strong>Username :</strong><span class="pink"> {$rs.username}</span>
          <input name="username" type="hidden" id="username" value="{$rs.username|stripslashes}" />      </td>
    </tr>
  
  <tr>
    <td><strong>Change Password</strong></td>
  </tr>
  <tr>
    <td><input type="password" name="password" id="password" /> 
      Max : 10 alphanumeric character(s) <br /></td>
  </tr>
    <tr>
    <td><strong>Confirm Password</strong></td>
  </tr>
  <tr>
    <td><input type="password" name="confirm" id="confirm" /> 
    Max : 10 alphanumeric character(s) <br />
   <span style="color:#FF0000;">{$rs.e2}</span></td>
  </tr>
  <tr>
    <td><input class="update" type="submit" name="button" id="button" value="UPDATE" />
      <input name="s" type="hidden" id="s" value="admin" />
      <input name="r" type="hidden" id="r" value="users" />
      <input name="do" type="hidden" id="do" value="update" />
      <input name="id" type="hidden" id="id" value="{$rs.userID}" /></td>
  </tr>
  </table>
</form>
<div class="nav-bottom">
<a class="green-btn" href="?s=admin&amp;r=users">Back</a>
<a class="green-btn" href="?s=admin&r=users&do=new">New User Account</a>
</div>